<link rel="stylesheet" href="style/font/areatab.css"/>
<link rel="stylesheet" href="style/font/person_detail.css"/>
<div class="row">
  <div class="col-md-12">
    <div class="area">
      <div class="area_title">學習紀錄</div>
      <ul role="tablist" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#person" aria-controls="person" role="tab" data-toggle="tab">個人資料</a></li>
        <li role="presentation"><a href="#record" aria-controls="record" role="tab" data-toggle="tab">個人視頻</a></li>
        <li role="presentation"><a href="#testRecord" aria-controls="testRecord" role="tab" data-toggle="tab">個人評量</a></li>
        <li role="presentation"><a href="#certificateRecord" aria-controls="certificateRecord" role="tab" data-toggle="tab">個人認證</a></li>
      </ul>
      <div class="tab-content">
        <div id="person" role="tabpanel" class="tab-pane active"><!-- 放面板 --></div>
        <div id="record" role="tabpanel" class="tab-pane"><!-- 放面板 --></div>
        <div id="testRecord" role="tabpanel" class="tab-pane"><!-- 放面板 --></div>
        <div id="certificateRecord" role="tabpanel" class="tab-pane"><!-- 放面板 --></div>
      </div>
    </div>
  </div>
</div>