<div class="row">
  <div class="col-md-12">
    <div style="float: left; margin-right: 3px;">
      <select class="form-select">
        <option value="">--請選擇--</option>
      </select>
      <select  class="form-select">
        <option value="">--請選擇--</option>
      </select>
    </div>
    <div>
      <table class="table table-striped table-bordered table-hover table_sort">
        <thead>
          <tr>
            <th><span>日期</span></th>
            <th><span>標題</span></th>
            <th><span>長度</span></th>
            <th><span>觀看長度</span></th>
            <th><span>進度</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td ></td>
            <td  class="td_title"></td>
            <td ></td>
            <td ></td>
            <td >
              <div style="background-color:#e7e8e5;width:100%;border-radius:5px;border: 1px inset #ddd;">
                <div style="background-color:#00DB00 ;padding:8%;width:@(finalPercentage)%;border-radius:5px"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>