<link rel="stylesheet" href="./app/public/stylesheets/font/areatab.css"/>
<link rel="stylesheet" href="./app/public/stylesheets/font/news_detail.css"/>
<div class="row">
  <div class="col-md-12">
    <div class="area">
      <div class="area_title"></div>
      <div class="row">
        <div class="col-md-12">
          <h1>【內文標頭】</h1>
          <p class="date"></p>
          <div class="news_content"></div>
          <h4>文章內容blabla</h4><a href="#news" class="btn default back"></a>
        </div>
      </div>
    </div>
  </div>
</div>