<div class="row">
  <div class="col-md-12">
    <div class="area">
      <div class="area_title">文章</div>
      <div class="row">
        <div class="col-md-4"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">
            <div class="thumbnail"><img src="img/logo.png"/>
              <div class="thumbnail_content">
                <h1>【AAA】</h1>
                <p>2015-11-22</p>
              </div>
            </div></a></div>
        <div class="col-md-4"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">
            <div class="thumbnail"><img src="img/logo.png"/>
              <div class="thumbnail_content">
                <h1>【BBB】</h1>
                <p>2015-11-22</p>
              </div>
            </div></a></div>
        <div class="col-md-4"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">
            <div class="thumbnail"><img src="img/logo.png"/>
              <div class="thumbnail_content">
                <h1>【CCC】</h1>
                <p>2015-11-22</p>
              </div>
            </div></a></div>
        <div class="col-md-4"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">
            <div class="thumbnail"><img src="img/logo.png"/>
              <div class="thumbnail_content">
                <h1>【DDD】</h1>
                <p>2015-11-22</p>
              </div>
            </div></a></div>
        <div class="col-md-4"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">
            <div class="thumbnail"><img src="img/logo.png"/>
              <div class="thumbnail_content">
                <h1>【EEE】</h1>
                <p>2015-11-22</p>
              </div>
            </div></a></div>
        <div class="col-md-4"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">
            <div class="thumbnail"><img src="img/logo.png"/>
              <div class="thumbnail_content">
                <h1>【FF】</h1>
                <p>2015-11-22</p>
              </div>
            </div></a></div>
      </div>
    </div>
  </div>
</div>