<div class="row">
  <div class="col-md-12">
    <div class="area">
      <div class="area_title">文件下載</div>
      <div class="row">
        <div class="col-md-7"></div>
        <div align="right" class="col-md-5">
          <input type="text" ng-model="vm.searchTarget" ng-change="vm.FilterDocument()" class="form-input area_input"/><img src="/img/magnifier.png"/>
        </div>
      </div><br/>
      <div class="row">
        <div style="width: 100px !important;" class="col-md-2"></div>
        <div class="col-md-10">
          <button  *ngFor="let document of documents" (click)="gotoDetail(document)" style="margin-bottom: 5px" class="btn btn-default">{{document.text}}</button>
        </div>
      </div>
      <div ng-bind-html="vm.filterData"></div>
    </div>
  </div>
</div>